<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'blog/css/blog-home.css' %}" rel="stylesheet">

    </head>

<body>

{% include "blog/navbar.html" %}

{% block main %} {% endblock %}

    <div class="container">
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2026</p>
                </div>
            </div>
        </footer>
    </div>

    <script src="{% static 'blog/js/jquery.js' %}"></script>

    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>

</body>
</html>
