{% extends 'layout/main_layout.html' %}
{% load thumbnail %}

{% block 'content' %}

    <h1 class="page-header"> Posts </h1>

    {% for post in posts %}
        <h2>
            <a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a>
        </h2>

        <p>
            <strong>Tags:</strong>
            {% for tag in post.tags.all %}
                <a href="{% url 'tag_filter' slug=tag.slug %}" class="btn btn-xs btn-default" style="margin-right: 2px;">
                    #{{ tag.name }}
                </a>
            {% empty %}
                <span class="text-muted">No Tags</span>
            {% endfor %}
        </p>

        <p class="lead">
            by <a href="#">{{ post.user }}</a>
        </p>

        <p><span class="glyphicon glyphicon-time"></span> {{ post.published_date|date:"d.m.Y H:i" }}</p>

        <hr>

        {% if post.image %}
            <a href="{% url 'post_detail' slug=post.slug %}">
                {% thumbnail post.image 900x400 crop="center" as im %}
                    <img class="img-responsive" src="{{ im.url }}" alt="{{ post.title }}" style="border-radius: 4px; width: 100%;">

            </a>
        {% else %}
            <img class="img-responsive" src="http://placehold.it/900x400?text=No+Photo" alt="No image" style="width: 100%;">
        {% endif %}

        <hr>

        <p>{{ post.content|truncatewords:25 }}</p>

        <a class="btn btn-primary" href="{% url 'post_detail' slug=post.slug %}">
            Read More <span class="glyphicon glyphicon-chevron-right"></span>
        </a>

        <hr>
    {% endfor %}

    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Older</a>
        </li>
        <li class="next">
            <a href="#">Newer &rarr;</a>
        </li>
    </ul>

{% endblock %}
