{% extends 'layout/main_layout.html' %}
{% load thumbnail %}

{% block 'content' %}

    <h1>{{ post.title }}</h1>

    {% if request.user == post.user %}
        <div class="pull-right">
            <a href="{% url 'delete_post' post.slug %}" class="btn btn-danger">Delete</a>
        </div>
    {% endif %}

    <p class="lead">
        by <a href="#">{{ post.user }}</a>
    </p>

    <hr>

    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.published_date }}</p>

    <hr>

    {% if post.image %}
        <img class="img-responsive" src="{{ post.image.url }}" alt="{{ post.title }}">
        <hr>
    {% endif %}

    <p class="lead">{{ post.content|linebreaks }}</p>

    <hr>

    <h3>Gallery</h3>
        <div class="row">
        {% for post_image in post.images.all %}
            <div class="col-md-3 col-sm-4 col-xs-6" style="margin-bottom: 20px;">
                {% thumbnail post_image.image 400x400 crop="center" as im %}
                    <a target="_blank" href="{{ post_image.image.url }}">
                         <img src="{{ im.url }}" class="img-thumbnail img-responsive" alt="Gallery image">
                    </a>
                </div>
        {% empty %}
            <div class="col-xs-12">
                <p class="text-muted">No additional photos for this post.</p>
            </div>
        {% endfor %}
    </div>


    <hr>

    <div class="well">
        <h4>Leave a Comment:</h4>

        {% if user.is_authenticated %}
            <form role="form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        {% else %}
            <p>Please <a href="{% url 'blog_login' %}">log in</a> to leave a comment.</p>
        {% endif %}
    </div>

    <hr>

    <h4>Comments ({{ post.comments.count }}):</h4>

    {% for comment in post.comments.all %}
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{ comment.author }}
                <small>{{ comment.created_date|date:"F d, Y \a\t g:i A" }}</small>
            </h4>
            {{ comment.text }}
        </div>
    </div>
    {% empty %}
    <p>No comments yet. Be the first to share your thoughts!</p>
    {% endfor %}

{% endblock %}
