{% extends 'layout/main_layout.html' %}

{% block 'content' %}

                <h1>{{ post.title }}</h1>

{% if request.user == post.user %}

<a href="{% url 'delete_post' post.slug %}" class="btn btn-danger">Delete</a>

{% endif %}
                <p class="lead">
                    by <a href="#">{{ post.user }}</a>
                </p>

                <hr>

                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.published_date }}</p>

                <hr>

                <img class="img-responsive" src="{{ post.image }}" alt="">

                <hr>

                <p> {{post.content}} </p>

                <hr>

                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <h4>Comments ({{ post.comments.count }}):</h4>

                {% for comment in post.comments.all %}
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{ comment.author }}
                            <small>{{ comment.created_date|date:"F d, Y \a\t g:i A" }}</small>
                        </h4>
                        {{ comment.text }}
                    </div>
                </div>
                {% empty %}
                <p>No comments yet. Be the first to share your thoughts!</p>
                {% endfor %}

{% endblock %}
